<div class='contain-to-grid sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='{{site.url}}/index.html'>
            <img alt="" src="{{site.url}}/images/haufe-gruppe-logo.png" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
<ul class="smooth-scroll list-unstyled">
    <li>
        <a href="#activites">ACCUEIL</a></h5></li>
    
    <li>
        <a href="#test2">Membres</a></h5></li>
    
</ul>
    </section>
  </nav>
</div>





   <!--     <ul class="nav navbar-nav ">
          <li><a href="#propos">À propos</a></li>
          <li><a href="#activites">Activités</a></li>
          <li><a href="#membres">Membres</a></li>          
          <li><a href="#evenements">Événements</a></li>          
          <li><a href="#partenaires">Partenaires</a></li>          
          <li><a href='#contact'>Contact</a></li>  
        </ul><!-- /.navbar-nav -->
